Flask_ReCaptcha==0.4.2
requests==2.18.4
urllib3==1.22
Flask_Script==2.0.6
Flask_Migrate==2.4.0
Flask_SQLAlchemy==2.3.2
typing==3.6.6
Flask_SSLify==0.1.5
Flask==1.0.2
Cython==0.29.6
backports.functools_lru_cache==1.5
ipaddr==2.2.0
numpy==1.16.2
ordereddict==1.1
wincertstore==0.2
