#cookiePopup
{
    position: fixed;

    right: 1em;
    bottom: 1em;
}

#tlkio iframe
{
    height: 100%;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer
{
    flex: 1;
}