{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">
        ALTTPR Matchmaker
    </h1>
    <p class="subtitle">
        <p>
            ALTTPR Matchmaker is a service to find people to play with or race against in <a href="https://alttpr.com/">A Link to The Past Randomizer.</a>
        </p>
        <p>
            You can view the available game rooms <a href="/rooms">here</a> or create a room <a href="/create">here</a>.
        </p>
    </p>
</div>
{% endblock %}