{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="notification is-danger">
    {{ error }}
</div>
{% else %}

{% set seed = room.get_seed_data() %}
{% set settings = room.get_settings() %}

{#
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function () {
        socket.emit('join', {
            room: "{{ id }}",
            player_id: "{{ player_id }}"
        });
    });
</script>
#}
<div class="columns">
    <div class="column">
        <div class="columns is-multiline">
            <div class="column is-12">
                <nav class="panel">
                    <p class="panel-heading">
                        Game Room : {{ id }}
                    </p>
                    <div class="panel-block">
                        <ul>
                            <li><strong>Seed URL: </strong><a href={{ room.get_url() }}>{{ room.get_url() }}</a></li>
                            <li><strong>Created by: </strong>{{ room.get_creator().name() }}</li>
                            {#<li><strong>Capacity: </strong>{{ room.num_players() }} / {{ room.MAX_PLAYERS }}</li>#}
                            <li><strong>Players In Room: </strong>{{ room.num_players() }}</li>
                            <li><strong>Difficulty: </strong>{{ Settings.difficulty[settings.difficulty]}}</li>
                            <li><strong>Goal: </strong>{{ Settings.goal[settings.goal] }}</li>
                            <li><strong>Mode: </strong>{{ Settings.mode[settings.mode] }}</li>
                            <li><strong>Variation: </strong>{{ Settings.variation[settings.variation] }}</li>
                            <li><strong>Weapons: </strong>{{ Settings.weapons[settings.weapons] }}</li>


                            {% if settings.enemizer %}
                            <li><strong>Enemizer</strong></li>
                            {% endif %}

                            {% if settings.spoilers %}
                            <li><strong>Spoilers </strong></li>
                            {% endif %}

                            {% if settings.tournament %}
                            <li><strong>Tournament</strong></li>
                            {% endif %}

                            {#<li><strong>Seed Hash: </strong>{{ seed['hash'] }}</li>#}
                            <li><strong>Expires In: </strong>{{ room.get_expire_time() }}</li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="column is-12">
                <a class="button is-primary is-fullwidth" href="/leave/{{ room.get_id() }}">Leave Room</a>
            </div>
            <div class="column is-12">
                <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr title="Players">Players</abbr></th>
                            <th><abbr title="Time">Time</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, player in room.get_players().items() %}
                        <tr>
                            <td>{{ player.name() }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="column">
        <div id="tlkio" data-channel="{{ id }}" data-nickname="{{ name }}" style="width:100%;height:400px;"></div>
        <script async src="http://tlk.io/embed.js" type="text/javascript"></script>
    </div>
</div>

{% endif %}

{% endblock %}